


<div class="main-1">
  <div class="top-login">
    <h1> Edit Article </h1>
  </div>

  <div class="mid-login">

    <br>
    <br>

    <%= render 'form' %>
    <button id="session"> <%= link_to 'Back', articles_path %></button>
  </div>

</div>
